*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  display: block;
}

.header {
  height: 790px;
  background: rgb(43, 80, 129);
  background: -o-linear-gradient(top, rgba(43, 80, 129, 1) 0%, rgba(82, 114, 145, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 80, 129, 1)), to(rgba(82, 114, 145, 1)));
  background: -webkit-linear-gradient(top, rgba(43, 80, 129, 1) 0%, rgba(82, 114, 145, 1) 100%);
  background: -moz-linear-gradient(top, rgba(43, 80, 129, 1) 0%, rgba(82, 114, 145, 1) 100%);
  background: linear-gradient(180deg, rgba(43, 80, 129, 1) 0%, rgba(82, 114, 145, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b5081", endColorstr="#527291", GradientType=1);
}

.background-img {
  height: 790px;
  background: url("../img/background.jpg") no-repeat top;
}

.container {
  margin: 0 auto;
  width: 1152px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 40px
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nav-btn {
  margin-right: 52px;
  font-size: 18px;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 220px
}

.offer {
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 55px;
  letter-spacing: 0.07em;
}

.intro {
  font-weight: 400;
  font-size: 20px;
}

.chevron-down {
  margin-top: 280px;
  width: 33px;
}

.sorting {
  height: 150px;
  background: #f5f6f7;
}

.check-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 45px 32px;
  text-transform: uppercase;
  color: #333;
}

.check,
.check div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.check div {
  margin-right: 38px;
  font-size: 18px;
}

.fa-check {
  margin-right: 19px;
  cursor: pointer;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 21px 33px;
  font-size: 14px;
  background: #aa9b77;
}

.products {
  height: 1284px;
}

.chapter {
  padding: 90px 32px 0;
  text-transform: uppercase;
  color: #424242;
}

.chapter-title-men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.chapter h2.men {
  margin-right: 50px;
  font-size: 20px;
}

.chapter-title-women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.chapter h2.women {
  margin-left: 50px;
  font-size: 20px;
}

hr {
  width: 100%;
}

.pages-men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 50px;
}

.pages p {
  font-size: 16px;
  color: #aa9b77;
}

.pages-chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  margin-top: 5px;
}

.chevron-left {
  margin-right: 8px;
}

.pages-chevron svg {
  cursor: pointer;
}

.pages-women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 17px;
}

.card {
  border: 6px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 320px;
  height: 378px;
  background: #f5f6f7;
}

.card:hover {
  border: #aa9b77 solid 6px;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 19px;
  height: 100%;
}

.product-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.size p {
  margin-right: 5px;
  font-size: 16px;
}

.liters {
  cursor: auto;
}

.product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.blue {
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #165eb9;
  cursor: pointer;
}

.yellow {
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #ffe637;
  cursor: pointer;
}

.grey {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #535253;
  cursor: pointer;
}

.pink {
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #d3a7ac;
  cursor: pointer;
}

.white {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
}

.product-img {
  margin: auto;
  cursor: pointer;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.product-name h3 {
  font-size: 18px;
  color: #aa9b77;
}

.product-name h2 {
  font-size: 22px;
  letter-spacing: 0.07em;
}

.about-us {
  padding: 70px 0;
  background: #aa9b77;
}

.about-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.about-us-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: #837659 solid 2px;
  width: 712px;
  height: 248px;
  letter-spacing: 0.07em;
}

.about-us-title h2 {
  position: relative;
  top: -14px;
  padding: 0 12px;
  font-size: 20px;
  text-transform: uppercase;
  color: #837659;
  background: #aa9b77;
}

.about-us-title p {
  position: relative;
  top: -12px;
  margin: auto 0;
  font-size: 16px;
  text-align: center;
  color: #424242;
}

.commerce {
  background: #535253;
}

.commerce-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 24px 0;
}

.commerce-wrapper svg {
  margin-right: 21px;
  cursor: pointer;
}

.commerce-wrapper p {
  font-size: 16px;
  letter-spacing: 0.07em;
}

.commerce-wrapper p br {
  display: none;
}

.footer {
  background: #424242;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 110px 0;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.footer-trekking h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-trekking p {
  font-size: 10px;
  line-height: 2.2em;
}

.footer-credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.footer-credits p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #aa9b77;
}

.footer-credits p br {
  display: none;
}

.footer-credits span.footer-btn {
  color: #fff;
  cursor: pointer;
}

.footer-credits h3 {
  font-size: 18px;
  text-transform: none;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1122px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 942px;
  }

  .card {
    width: 270px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 702px;
  }

  .nav-btn {
    margin-right: 26px;
  }

  .chevron-down {
    margin-top: 211px;
  }

  .check div {
    margin-right: 30px;
  }

  .fa-check {
    margin-right: 15px;
  }

  .card {
    width: 200px;
  }

  .product-name h3 {
    font-size: 15px;
  }

  .product-name h2 {
    font-size: 19px;
  }

  .product-img {
    width: 90%;
  }

  img.pants {
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 522px;
  }

  .menu {
    padding-top: 30px;
  }

  .title {
    font-size: 45px;
  }

  .intro {
    font-size: 17px;
  }

  .chevron-down {
    margin-top: 259px;
  }

  .sorting {
    height: 180px;
  }

  .check-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .check div {
    margin-right: 25px;
    font-size: 15px;
  }

  div .children {
    margin: 0;
  }

  .fa-check {
    margin-right: 12px;
    width: 22px;
  }

  .btn {
    margin-top: 20px;
    padding: 17px 26px;
    font-size: 12px;
  }

  .products {
    height: 3052px;
  }

  .chapter {
    padding: 90px 0 0;
  }

  .chapter h2.men {
    margin-right: 25px;
    font-size: 18px;
  }

  .chapter h2.women {
    margin-left: 25px;
    font-size: 18px;
  }

  .cards {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .card {
    width: 320px;
  }

  .first-card,
  .second-card {
    margin-bottom: 64px;
  }

  .product-img {
    width: auto;
  }

  img.pants {
    width: auto;
    height: auto;
  }

  .about-us-title {
    width: 100%;
    height: 200px;
  }

  .about-us-title h2 {
    font-size: 18px;
  }

  .about-us-title p {
    padding: 0 30px;
  }

  .about-us-title p br {
    display: none;
  }

  .footer-trekking h2 {
    font-size: 18px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 70px 0;
  }

  .footer-credits {
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .menu {
    padding-top: 20px;
  }

  .chevron-down {
    margin-top: 269px;
  }

  .check-wrapper {
    padding: 45px 0;
  }

  .about-us-title {
    height: 100%;
  }

  .about-us-title p {
    padding: 30px 20px;
  }

  .commerce-wrapper {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 514px) {
  p.intro br {
    display: none;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .footer-trekking p br {
    display: none;
  }

  .commerce-wrapper p br {
    display: inline;
  }

  .footer-trekking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .footer-trekking p {
    text-align: center;
  }

  .footer-credits {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 381px) {
  .chevron-down {
    margin-top: 248px;
  }

  .sorting {
    height: 246px;
  }

  .check {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  div.men,
  div.women {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 364px) {
  .title {
    font-size: 34px;
  }

  .chevron-down {
    margin-top: 274px;
  }

  .footer-credits {
    line-height: 1.5em;
    text-align: center;
  }

  .footer-credits p br {
    display: inline;
  }

  .footer-credits p span.hide {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .nav-btn {
    margin-right: 15px;
  }
}

@media screen and (max-width: 283px) {
  .chevron-down {
    margin-top: 253px;
  }
}